<div class="container mt-4">
    <h1>Showcase Ui - Software Development Kit Library</h1>
    <lib-card-details (toggleStar)="onToggleStar()" [isStarModalSelected]="boolModalStarSelected"
        [urlProfile]="'https://rickandmortyapi.com/api/character/avatar/1.jpeg'" [status]="'Alive'"
        [name]="'Rick Sanchez'" [species]="'Human'" [gender]="'Male'" [originName]="'Earth (C-137)'" [type]="'Unknown'"
        [dataEpisodeSelected]="dataEpisodes"
        [pathImgRecommended]="'https://rickandmortyapi.com/api/character/avatar/2.jpeg'"></lib-card-details>

    <h2 class="text-center my-4">Card</h2>
    <div class="row">
        <div class="col-xl-4">
            <lib-card [isStarSelected]="true" (click)="onDetail()"
                pathImage="https://rickandmortyapi.com/api/character/avatar/2.jpeg"></lib-card>
        </div>
        <div class="col-xl-4">
            <lib-card [alive]="false" pathImage="https://rickandmortyapi.com/api/character/avatar/2.jpeg"></lib-card>
        </div>
        <div class="col-xl-4">
            <lib-card pathImage="https://rickandmortyapi.com/api/character/avatar/2.jpeg"></lib-card>
        </div>

    </div>
</div>