@if (ifToast) {
    <p-toast></p-toast>
    }
    <p-confirmDialog #cd maskStyleClass="overflow-auto">
        <ng-template pTemplate="headless" let-message>
    
            <div class=" bg-light flex-column align-items-center surface-overlay border-round container-modal">
                <div class="container-profile">
                    <div class="cover-photo">
                        <button label="Cancel" (click)="cd.reject()" class="pi pi-times-circle"></button>
                    </div>
                    <div class="container-profile-img">
    
                        <img src="{{urlProfile}}" class="profile">
                        <button type="button" class="btn ellipse-modal" (click)="onToggleStar()">
                            <i class="pi pi-star-fill" [style.color]="getStatusColorStart()"></i>
                        </button>
                        <div class="profile-text">
                            <div class="profile-status">{{status}}</div>
                            <div class="profile-name">{{name}}</div>
                            <div class="profile-race"> {{species}}</div>
                        </div>
                    </div>
                    <div class="bg-cover-down"></div>
                </div>
                <div class="container-fluid  px-4 container-modal--info">
                    <div class="  container-info ">
                        <div class="info py-3 col-xl-12">Información</div>
                        <div class="d-flex justify-content-between">
                            <div class="col-4 mini-card-info">
                                <div class="mini-card-info-title">
                                    <i class="pi pi-info-circle"></i>
                                    Gender:
                                </div>
                                <div class="mini-card-info-text">{{gender}}</div>
                            </div>
                            <div class="col-4 mini-card-info">
                                <div class="mini-card-info-title">
                                    <i class="pi pi-info-circle"></i>
                                    Origin:
                                </div>
                                <div class="mini-card-info-text">{{originName}}</div>
                            </div>
                            <div class="col-4 mini-card-info">
                                <div class="mini-card-info-title">
                                    <i class="pi pi-info-circle"></i>
                                    Type:
                                </div>
                                <div class="mini-card-info-text">{{type}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="separator my-2  w-100"></div>
                    <div class="info py-3 col-xl-12">Episodios</div>
                    <div class="container-episodes pb-3">
                        <div class="row gap-2 row-gap-2 mx-0 d-flex justify-content-between">
                            @for (episode of dataEpisodeSelected; track episode.id) {
                            <div class="col-xl-4 mini-card-episodes">
                                <div class="mini-card-episodes-title">{{episode.name}} </div>
                                <div class="mini-card-episodes-code">{{episode.episode}}</div>
                                <div class="mini-card-episodes-date">{{episode.air_date}}</div>
                            </div>
                            } @empty {
                            Empty list of characters
                            }
                        </div>
    
                    </div>
                    <div class="separator my-2  w-100"></div>
                    <div class="info py-3 col-xl-12">Personajes interesantes</div>
                    <div class="best-characters pb-4">
    
                        <div class="row d-flex">
                            <div class="col-xl-6">
                                <lib-card [isStarSelected]="true" pathImage="{{pathImgRecommended}}"></lib-card>
                            </div>
                            <div class="col-xl-6">
                                <lib-card [alive]="false" pathImage="{{pathImgRecommended}}"></lib-card>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="container-buttons p-4 pt-2">
                    <button (click)="cd.accept()" class="btn btn-share-pj">Compartir personaje</button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>